## Personal exclusions from *EVERY* git project
##
# Folder icons (can always be forced)
"Icon\r"

# Editor projects
*.tmproj
.tm_properties
*.bbprojectd
*.sublime-workspace

# Something Mac OS X python creates
.Python

# Mac .DS_Store files
# exists in default .git/info/exclude from /usr/local/git/bin/git,
# but not in default .git/info/exclude from /usr/bin/git (from Xcode4)
.DS_Store

# Emacs backup files
# exists, but commented out of default .git/info/exclude
*~
