## Personal exclusions from *EVERY* git project
##
# Folder icons (can always be forced)
"Icon\r"

# Editor projects
*.tmproj
.tm_properties
*.bbprojectd
*.sublime-workspace

# Mac OS X creations
.DS_Store
.Python

# Emacs backup files
# exists, but commented out of default .git/info/exclude
*~
